@import './media_query.scss';

//공통스타일
a {
  text-decoration: none;
  display: inline-block;
}

.sitemap-list {
  display: none;
}
.gnb-list {
  display: none;
}

header {
  background-color: #d13030;
  text-align: center;
  img {
    width: 100%;
    vertical-align: middle;
  }

  .tel_box {
    display: none;
    float: right;
    width: 250px;
    border-left: 1px #d74949 solid;
    padding: 18px 20px;
    box-sizing: border-box;
    height: 84px;
    & > div {
      display: inline-block;
      vertical-align: top;
      line-height: 100%;
    }
    .tel_i {
      margin-right: 7px;
      width: 23%;
    }
    .tel_text {
      width: 71%;
      span {
        font-size: 13px;
        color: #fff;
      }
      strong {
        display: block;
        font-size: 30px;
        color: #fff;
        margin-top: 9px;
      }
    }
  }

  //PC------------------
  @include pc-only {
    height: 84px;
    line-height: 84px;
    .tel_box {
      display: block;
    }
    h1 {
      float: left;
      width: 250px;
      border-right: 1px #d74949 solid;
      box-sizing: border-box;
      padding: 0 20px;
    }

    .gnb-list {
      display: inline-block;
      width: 50%;
      text-align: center;
      > li {
        display: inline-block;
        margin: 0 2.7%;
        & > a {
          font-size: 20px;
          color: #fff;
          font-weight: 700;
        }
        .sub_manu {
          display: block;
          position: absolute;
          background-color: #fff;
          height: 60px;
          top: 84px;
          left: 0;
          width: 100%;
          border-bottom: 1px solid #d74949;
          z-index: 10;
          a {
            display: inline-block;
            height: 100%;
            line-height: 60px;
            vertical-align: top;
            margin-right: 48px;
          }
        }
      }
    }
  }
  //PC==================
  //M
  @include tab {
    height: 68px;
    line-height: 68px;
  }
}
//header_end

footer {
}
